.Footer-container{
    position: relative;
}

.Footer-container>hr{
    border: 1px solid #90909f;
}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.logo-f>img{
    background-color: whitesmoke;
    width: auto;
    align-items: center;
}
