.Reasons{
    padding: 0 2rem;
    display: flex;
    grid-template: 2rem;
    gap: 2rem;
    margin-bottom: 2rem;
}

.left-s{
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 0.5fr;
}

.left-s>img{
    object-fit: cover;
}

.left-s>:nth-child(1) {
    width: 18rem;
    grid-row: 1/3;
    height: 35rem;
}

.left-s>:nth-child(2) {
    width: 31rem;
    height: 16rem;
    grid-column: 2/4;
}

.left-s>:nth-child(3) {
    width: 15rem;
    height: 17rem;
    grid-column: 2/3;
    grid-row: 2;
}

.left-s>:nth-child(4) {
    width: 15rem;
    height: 17rem;
    grid-column: 3/4;
    grid-row: 2;
}

.right-s{
    padding: 1rem;
    flex: 1 1;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.right-s>span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #d1d1d1;
    margin-bottom: 1rem;
}
.right-s>div{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.reasons-r{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reasons-r>div{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
}

.des{
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    color:whitesmoke;
}
.reasons-r>div>img{
    width: 2rem;
    height: 2rem;
}